body{
    margin: auto;
}
a{
    text-decoration: none;
}
#header{
    height:60px;
    width:100%;
    background-color:#cd7c46;
}

#brand{
    font-size:30px;
    color:white;
    float: left;
    margin-left: 5%;
    margin-top: 1%;
}
#social{
    float: right;
    margin-top: 6px
}
.socialImg{
    height:50px;
}

#search{
    height:400px;
    width:100%;
    background-image: url('images/foodWallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-size: 100% 400px;*/
}

#logo{
    height:150px;
    width:150px;
    background-color: white;
    border-radius:50%;
    margin-left: 43%;
    margin-top:1%;
    position:absolute
}

#logo>span{
    margin-left: 23%;
    margin-top:10%;
    position:absolute;
    font-size:90px;
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif
}

#heading{
    margin-left: 32%;
    margin-top:14%;
    color:white;
    position:absolute;
    font-size:45px;
}

#dropdown{
    margin-left: 27%;
    margin-top:20%;
    height:60px;
    width:50%;
    position:absolute;
}

select{
    height:60px;
    width:40%
}

#restaurants{
    width:55%
}

#quickSearch{
    height:600px;
    width:80%;
    margin-left: 10%;
    margin-top:2%;
    border:2px solid orange
}